
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
   <div class="ui-15">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 ui-padd mr-auto">
          <div class="ui-form">
            <h2>Редактирование профиля</h2>
            <form>
              <div class="ui-input">
                <div class="field">
                  <%= f.label :name, fa_icon('user'), class: "ui-icon" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
              </div>
              <div class="ui-input">
                <div class="field">
                  <%= f.label :email, fa_icon('envelope-o'), class: "ui-icon" %>
                  <%= f.text_field :email, placeholder: 'Введите Email', class: "form-control" %>
                </div>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="ui-input">
                <div class="field">
                  <%= f.label :password, fa_icon('lock'), class: "ui-icon" %>
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Введите пароль(не менее 6 знаков)', class: "form-control" %>
                  <p><i>(Оставьте пустым, если не хотите менять пароль)</i></p>
                </div>
              </div>
              <div class="ui-input">
                <div class="field">
                  <%= f.label :password_confirmation, fa_icon('lock'), class: "ui-icon" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Повторите пароль', class: "form-control" %>
                </div>
              </div>
              <div class="ui-input">
                <div class="field">
                  <%= f.label :current_password, fa_icon('lock'), class: "ui-icon" %>
                  <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Введите текущий пароль', class: "form-control" %>
                </div>
              </div>
                <%= f.submit "Сохранить изменения", class: "btn btn-green btn-lg btn-block" %>
            </form>
            <div class="ui-input">
              <div class="actions">
                <%= link_to "Удалить аккаунт", registration_path(resource_name), class: "btn btn-red btn-md btn-block", data: { confirm: "Вы уверены?" }, method: :delete %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "вернуться", :back %>
