<%= form_for @user, html: { multipart: true } do |f| %>

  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="ui-15">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 ui-padd mr-auto">
          <div class="ui-form">
            <h2>Редактирование профиля</h2>
            <form>
              <div class="ui-input">
                <div class="field">
                  <%= f.label :name, fa_icon('user'), class: "ui-icon" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
              </div>
              <div class="ui-input">
                <div class="field">
                  <%= f.label :email, fa_icon('envelope-o'), class: "ui-icon" %>
                  <%= f.text_field :email, placeholder: 'Введите Email', class: "form-control" %>
                </div>
              </div>
              <%= f.submit "Сохранить", class: "btn btn-red btn-lg btn-block" %> <%= link_to 'изменить пароль', edit_user_password_path(@user) %> или <%= link_to 'вернуться', :back %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
